@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap')

.home--hero h1
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: 600
  font-size: 46px
  line-height: 56px
  color: rgba(255, 255, 255, 0.98)

.home .hero img
  max-width 450px!important

